 :root{
  --color-primary : #f9c981;
  --color-primary-dark: #d6a760;
  --color-background: #162d31;
  --color-background-light:#2e4d4e;
  --color-title: #ffffff;
  --color-text: #cfd6d4;



    


 }