
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

 :root{
  --color-primary : #f9c981;
  --color-primary-dark: #d6a760;
  --color-background: #162d31;
  --color-background-light:#2e4d4e;
  --color-title: #ffffff;
  --color-text: #cfd6d4;
  --color-red:#ff3f3f;

--primary-font: "Poppins" , sans-serif;
--second-font: "Montserrat" , sans-serif;

    
--font-size-smaller:1.4rem;
--font-size-small:1.6rem;
--font-size-normal:1.8rem;
--font-size-big:2.4rem;
--font-size-biggest:4.4rem;

--font-regular:400;
--font-medium:500;
--font-semi-bold:600;
--font-bold:700;


--shadow-header: 0 4px 20px 16px rgba(0,0,0 ,0.05); 
--border-radius-sm:1.5rem;
--border-radius-lg:30rem;
--transition: all .4s ;



--width-container: 98rem;
--height-header:10rem;
--zindex-menu:100;
--zindex-fixed:110;



 }

 *  , *::before , *::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 html{
    font-size: 62.5%;
    scroll-behavior: smooth;
 }

h1,h2,h3,h4{
  color: var(--color-title);
  font-weight: var(--font-bold);

}

ul{
  list-style: none;

}

a{
  text-decoration: none;
  color: var(--color-text);
}

img{
  max-width: 100%;
  display: block;
}

input, textarea , input{
  outline: hidden;
  font: inherit;
}

button{
  cursor: pointer;
  border: none;

}

main{
  overflow: hidden;

}

.section{
  padding: 10rem 0 8rem;
}

.section-header{
  padding: 3rem 0;
  text-align: center;
}

.section-title{
  font-size: var(--font-size-biggest);
  margin-bottom: 5rem;
}


.container{
  width: 90%;
  margin: auto;
  max-width: var(--width-container);
}

.grid{
  display: grid;
  gap: 3rem;
}

.btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  padding: 2rem 3.5rem;
  border-radius: var(--border-radius-sm);
  font-weight: var(--font-bold);
  font-size: var(--font-size-smaller);
}

.btn-primary{
  background-color: var(--color-primary);
  color: var(--color-background);
}

.btn-primary:hover{
  background-color: var(--color-primary-dark);
}

body{
  font-family: var(--primary-font);
  font-size: var(--font-size-normal);
  font-weight: var(--font-regular);
  background-color: var(--color-background);
  margin-top: var(--height-header);
  color: var(--color-text);
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color-background);
  position: flex;
  align-items: center;
  height: var(--height-header);
  z-index: var(--zindex-menu);
  transition: var(--transition);
  
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons{
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav-shop{
  background-color: var(--color-primary);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  font-size: 2rem;
  color: var(--color-background);
  position: relative;
  cursor: pointer;
}

.nav-shop-number{
  position: absolute;
  background-color: var(--color-red);
  right: -20%;
  top: -20%;
  border-radius: 50%;
  color: var(--color-title);
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-smaller);
  font-weight: var(--font-semi-bold);
}


.nav-close , .nav-open{
  font-size: 2.5rem;
  transition: var(--transition);
  cursor: pointer;

}

.nav-close:hover , .nav-open:hover{
  color: var(--color-primary);
}

.nav-list{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
}

.nav-link{
  position: relative;
  color: var(--color-title);
  font-size: var(--font-size-smaller);
  transition: var(--transition);

}

.nav-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: var(--color-primary);
  transition: var(--transition);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.6rem;

}

.nav-link:hover , .nav-link-active{
  color: var(--color-primary);
}

.nav-link:hover::before , .nav-link-active::before{
  width: 80%;
}