
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

 :root{
  --color-primary : #f9c981;
  --color-primary-dark: #d6a760;
  --color-background: #162d31;
  --color-background-light:#2e4d4e;
  --color-title: #ffffff;
  --color-text: #cfd6d4;
  --color-red:#ff3f3f;

--primary-font: "Poppins" , sans-serif;
--second-font: "Montserrat" , sans-serif;


    


 }